.container {
  background-image: url(../images/background.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  padding: 0 79px;
}
.header-logo {
  padding: 18px 0px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}
.header-logo:hover {
  color: #01813f;
  transition-duration: 500ms;
}
.nav-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-header_item1 {
  padding-right: 27px;
}
.nav-header_item2 {
  padding-right: 24px;
}
.nav-header_item3 {
  padding-right: 25px;
}
.header-link:hover {
  color: #01813f;
  transition-duration: 500ms;
}
.svg-1:hover path,
.svg-2:hover path,
.svg-3:hover path {
  fill: #01813f;
  transition-duration: 500ms;
}
.nav-header_action {
  padding-left: 27px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.form {
  width: 100vw;
  height: calc(100vh - 58px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-form {
  box-sizing: border-box;
  width: 444px;
  padding: 0 60px;
  background-color: #ffffff;
  position: relative;
}
.form-block {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 29px;
  background-color: rgba(60, 184, 120, 1);
}
.action_btn {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  margin-bottom: 13px;
}
.sign-up_btn {
  background-color: #ffffff;
  border: none;
  color: #434343;
  font-size: 20px;
  cursor: pointer;
}
.log-in_btn {
  background-color: #ffffff;
  border: none;
  color: #3cb878;
  font-size: 14px;
  cursor: pointer;
}
.log-in_btn:hover {
  color: rgba(1, 129, 63, 1);
  text-decoration: underline;
  transition-duration: 500ms;
}

.facebook_btn {
  width: 160px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #305db8;
  background-image: url(../images/facebook-btn.png);
  background-position: 16px 12px;
  background-repeat: no-repeat;
  padding: 17px 22px 17px 67px;
}
.facebook_btn:hover {
  background-color: rgba(2, 34, 99, 1);
  transition-duration: 500ms;
}

.google_btn {
  width: 160px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #df4a32;
  background-image: url(../images/google-btn.png);
  background-position: 12px 15px;
  background-repeat: no-repeat;
  padding: 17px 27px 17px 80px;
}

.google_btn:hover {
  background-color: rgba(171, 31, 9, 1);
  transition-duration: 500ms;
}
.facebook_btn_label,
.google_btn_label {
  position: relative;
}
.facebook_btn_label::after,
.google_btn_label::after {
  content: "";
  display: block;
  width: 1px;
  height: 28px;
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  left: 49px;
  top: -5px;
}

.fieldset {
  margin-top: 31px;
  border-top: 1px solid #f2f2f2;
}
.legend {
  font-size: 14px;
  color: #848484;
  text-align: center;
}
input::-webkit-input-placeholder {
  color: #bebebe;
}
.input {
  outline: none;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 15px 0;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
}
.input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}
.checkbox {
  margin-right: 8px;
}
.label-text {
  color: rgba(67, 67, 67, 1);
  font-weight: 400;
  font-size: 14px;
}
.terms_link {
  color: rgba(60, 184, 120, 1);
}
.terms_link:hover {
  color: rgba(1, 129, 63, 1);
  text-decoration: underline;
  transition-duration: 500ms;
}
.submit_btn {
  background-color: rgba(60, 184, 120, 0.8);
  margin-bottom: 38px;
  padding: 16px 99px;
  border-radius: 4px;
  line-height: 16px;
  color: #ffffff;
  margin-top: 20px;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  display: block;
  border: none;
  width: 100%;
}
.submit_btn:active {
  background-color: #01813f;
}
